.continent__card {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0.2rem;
  cursor: pointer;
}

.continent__card:nth-child(4n+1),
.continent__card:nth-child(4n+4) {
  background-color: var(--color-secondary);
}

.continent__card:hover {
  background-color: var(--color-secondary-dark);
}

.continent__card-name {
  color: var(--color-white);
  font-family: var(--font-titles);
  font-weight: 500;
  font-size: 1.6rem;
}

.continent__card-image {
  width: 9rem;
  filter: invert(60%) sepia(50%) saturate(496%) hue-rotate(181deg) brightness(40%) contrast(100%);
}

@media only screen and (min-width: 768px) {
  .continent__card {
    gap: 1rem;
    padding: 4rem 0.5rem;
    justify-content: center;
  }

  .continent__card-name {
    font-weight: 500;
    font-size: 1.6rem;
  }

  .continent__card-image {
    width: 10rem;
  }
}
