.pollution_detail {
  display: grid;
  grid-template-columns: 100%;
}

.pollution__detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  color: var(--color-white);
}

.pollution__detail-index {
  font-family: var(--font-subtitles);
}

.pollution__detail-quality {
  font-family: var(--font-subtitles);
  font-weight: 500;
  font-size: 1.8rem;
}

.pollution__detail-data {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pollution__detail-data > h3 {
  padding-top: 2rem;
  text-align: center;
  color: var(--color-white);
  font-weight: 700;
}

.pollution__detail-list {
  background-color: var(--color-white);
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .pollution_detail {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .pollution__detail-data {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .pollution_gauge {
    padding-top: 4rem;
  }

  .pollution__detail-quality {
    font-size: 2rem;
  }

  .pollution__detail-list {
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
  }
}
