:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-titles);
  font-style: normal;
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
