.progress__container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.countries__container {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 768px) {
  .countries__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
