.navigation {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary-dark);
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.arrow-back {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: bold;
}

.year {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .navigation {
    height: 4rem;
  }
}
